.mod.tabs
  b.top
    b.tl
    b.tr
  .inner
    .hd
      ul
        li.tab.selected.first
          a(href="#context")
            span Context
        li.tab
          a(href="#wireframes")
            span Wireframes
        li.tab
          a(href="#behaviour")
            span Behaviour
        li.tab
          a(href="#code")
            span Sample Code
    .bd
  b.bottom
    b.bl
    b.br