.mod.bloq
  h2= componentname
  .edit
    h3 Attachments
      ul#attachments
        - each attachment, id in attachments
          li.attachment
            a(href=couchbase+'/'+pagename+'/'+id) #{id}
            a.deleteaction(href="#") delete
      button#loadaction Upload Attachment

  != partial('tabcontent_mod', {collection: tabcontent, as: global})
