<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{page_title}}</title>
        <meta name="MSSmartTagsPreventParsing" content="true">
        <meta http-equiv="no-cache" content="no-cache">
        <meta http-equiv="X-UA-Compatible", content="IE=edge,chrome=1">
        <link rel="stylesheet" type="text/css" media="all" href="/lib/oocss.css">
        <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/obloq.css">
        <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/feed/">
    </head>
    <body>
        <a id="couchbase" href="http://192.168.1.169:5984/kinzin"></a>
        <div class="page">
            <div class="head">
                <a href="/">
                    <h1>Kinzin Design Specification</h1>
                </a>
            </div>
            <div class="body">
                <nav class="leftCol">
                    {{> nav_mod }}
                </nav>
                <div class="rightCol"></div>
                <div class="main">
                    {{> tabs }}   
                </div>
                <div class="foot"></div>
            </div>
        <script type="text/javascript" src="/lib/modernizr-1.5.min.js"></script>
        <script type="text/javascript" src="/lib/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="/lib/ajaxupload.js"></script>
        <script type="text/javascript" src="/app/obloq.js"></script>
    </body>
</html>